.product-card {
  //   flex-basis: calc((100% -77px) / 3);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.product-card:hover .product-card__overlay {
  transform: translateY(0);
}

.product-card__link {
  text-decoration: none;
}

.product-card__thumb {
  position: relative;
  overflow: hidden;
}

.product-card__img {
  display: block;
  width: 100%;
  min-height: auto;
}

.product-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-card__text {
  font-size: 18px;
  line-height: calc(28 / 18);
  color: #ffffff;
}

.product-card__block {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.product-card__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.product-card__type {
  line-height: 1.88;

  color: var(--primary-text-color);
}
