.clients__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.clients__item {
  max-width: calc((100% - 30px) / 2);
}

.clients__link {
  display: flex;

  border: 1px solid var(--icon-color);
  border-radius: 4px;
  padding: 16px 32px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  color: currentColor;
}
