footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bcg-color);
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  // gap: 70px;
  align-items: flex-start;
  justify-content: center;

  @media screen and (max-width: 767px) {
    display: block;
    text-align: center;
  }
}

.footer__title {
  margin-bottom: 20px;

  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
}
.footer__contacts {
  margin-right: auto;

  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
    text-align: center;
  }
}

.footer__socials {
  text-align: center;

  @media screen and (max-width: 767px) {
    margin: 60px 0;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.footer__socials-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
