.header {
  background-color: #ffffff;
  border: 1px solid #ececec;
}
.header__container {
  display: flex;
  position: relative;
}
.header__navigation {
  display: flex;
  align-items: center;
  margin-left: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header__list {
  display: flex;

  gap: 50px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style: none;
}

.header__list--right {
  margin-left: 96px;
  display: block;
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
    margin-left: 310px;
  }
}

.header__link {
  position: relative;
  color: var(--title-text-color);

  padding: 32px 0px;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header__link--current {
  color: var(--accent-color);

  &::after {
    content: '';
    position: absolute;
    display: inline-block;

    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.header__contacts {
  display: flex;
  align-items: center;
  padding: 5px 0;

  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  /* identical to box height */

  letter-spacing: 0.02em;

  // padding: 32px 0px;

  color: var(--primary-text-color);
  fill: var(--primary-text-color);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.header__icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
